<div class="marketing">
	<div class="row">
		<div class="span4">
			<b class="aboutFont">{{'googlePlayDescription' | translate}}</b>
		</div>
		<div class="span2">
			<a href="https://play.google.com/store/apps/details?id=com.qi.xiaohui.dingdang&hl=en">
				<img src="images/playstore.png" width="200px" height="110px" />
			</a>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<b class="aboutFont">{{'troubleOpenWebsite' | translate}}</b>
		</div>
		<div class="span2">
			<a ng-href="{{urlApk}}">
				<img src="images/download.png" width="200px" height="110px" />
			</a>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<b class="aboutFont">{{'code' | translate}}</b>
		</div>
		<div class="span2">
			<a href="https://github.com/qixiaohui/USNEWS">
				Dingdang news web
			</a>
		</div>
		<div class="span2">
			<a href="https://github.com/qixiaohui/DingDangAndroid">
				Dingdang news android
			</a>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<b class="aboutFont">{{'email' | translate}}</b>
		</div>
		<div class="span2">
			<p>qixiaohuihaha@gmail.com</p>
		</div>
	</div>
</div>