<div ng-repeat="new in news" class="row marketing">
    <div class="col-md-3" style="marginTop: 10dp">
        <img class="img-responsive" ng-src="{{new.iurl}}">
    </div>
    <div class="col-md-9" href="new.link" ng-click="viewContent(new)">
        <h4>{{new.title}}</h4>
        <p style="color: #5d5f60">{{new.kwic|limitTo:300}}</p>
    </div>
</div>
<nav ng-show="loadingPagination.show" class="pagin col-sm-offset-5 col-sm-6">
  <ul class="pagination">
      <li ng-show="loadingPagination.maxIndex>=1"><a ng-click="loadingPagination.pageIndex>=2?loadPage(loadingPagination.pageIndex-1):none" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
      <li ng-show="index-loadingPagination.pageIndex<=3&&index>0" ng-repeat="index in [] | range:loadingPagination.maxIndex+1" ng-class="{'active':index==loadingPagination.pageIndex}"><a ng-click="loadPage(index)">{{index}} </a></li>
      <li ng-show="loadingPagination.maxIndex>=1"><a ng-click="loadingPagination.pageIndex<loadingPagination.maxIndex?loadPage( loadingPagination.pageIndex+1):none" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
